<template lang="pug">
.hello
  h1 {{ msg }}
  select(v-model="selectedCountry")
    option(v-for="country in countries" v-bind:value="country.value") {{ country.name }}
  spinner(v-show="loading")
  ul
    artist(v-for="artist in artists" :key="artist.mbid" :artist="artist")
</template>

<script>
import getArtists from '../api'
import artist from './artist'
import spinner from './spinner'

export default {
  name: 'PlatziMusic',
  components: {
    artist,
    spinner
  },
  data () {
    return {
      msg: 'PlatziMusic',
      loading: true,
      selectedCountry: 'colombia',
      artists: [],
      countries: [
        {name: 'Argentina', value: 'argentina'},
        {name: 'Colombia', value: 'colombia'},
        {name: 'España', value: 'spain'}
      ]
    }
  },
  methods: {
    refreshArtists() {
      const self = this
      this.artists = []
      this.loading = true
      getArtists(this.selectedCountry)
      .then(function (artists) {
        self.loading = false
        self.artists = artists
      })
    }
  },
  mounted: function () {
    this.refreshArtists()
  },
  watch: {
    selectedCountry: function () {
      this.refreshArtists()
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="stylus" scoped>
h1, h2
  font-weight normal

ul
  list-style-type none
  padding 0

li
  display inline-block
  margin 0 10px

a
  color #42b983
</style>
